/*setear css*/

  }/*CLASES REUTILIZABLES*/
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/**:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}


.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  display: inline-table;

}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}
/*aca empiezo*/
button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

button a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
header{
  position: fixed;
  top:0;
  background-color: white;
  width: 100%;
  height: 98px;

}
li {
  list-style: none;
}
header nav{
  display: inline;
  margin-right: 750px;

}
header a{
  text-transform: uppercase;
  color: black;
  text-decoration: none;

}

header figure{
display: block;
overflow: overlay;
float: right;
margin-top: -58px;
}
header li{
  margin-right: 30px;
  display: inline-block;
}
header .log1{
  width: 70px;
}

section.bg{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  margin-top: 98px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
 .text-uppercase h2{
  font-size: 23px;
  margin:0;
}
.text-uppercase h1{
  font-size: 50px;
  margin-bottom: 0;
  color: white;
}
.text-uppercase p{
  font-size: 17px;
  margin-top:0;
  color:white;
}
.text-uppercase button{
  background-color: #2ecc71;
  border-radius: 2%;
  border:none;
  width: 148px;
  height:48px;
  margin-top:85px;
  text-align: center;
  ;
}
section.serv{
  background-color:#f17c72;
  height: 646px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
 
}
.one h2{
  text-align: center;
  font-size: 38px;
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}
.one h4{
  text-align: center;
  color:white;
  font-size: 17px;
  text-decoration: none;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 70px;

}
.letters{
  display: inline-block;
  width:33%;
  color:white;
  margin-top: 60px;
  margin-left: -28px;
  margin-right:-26px;

}
.letters img{
width: 47%;

}
.letters h5{
font-family: sans-serif;
font-size: 14px;
margin-bottom: 0;
text-transform: uppercase;
}
.letters h6{
margin-top: 0;
margin-bottom: 0;
font-family: sans-serif;
}
.work h2{
  color: red;
  text-align: center;
  font-family: verdana;
  font-size: 43px;
  margin-top: 61px;
  margin-bottom: 52px;
}
.work h4{
  text-align: center;
  color: #474747;
  font-size: 19px;
  margin-bottom: 59px;
}
.container:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}
  .big{
  width: 79%;
  padding-left: 97px;
}
.container img{
  width: 50%;
  
}