/*setear css*/

  }/*CLASES REUTILIZABLES*/
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/**:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/*body {
  margin-left: 0;
  margin-right: 0;
  display:block;
  line-height: 1.71429;
}*/


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  display: inline-table;
  margin: 0px 192px 55px -7px;
}

/*.container:before, .container:after {
  content: " ";
  display: table;
}*/

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}
/*aca empiezo*/
button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

button a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
header{
  position: fixed;
  top:0;
  background-color: white;
  width: 100%;
  height: 98px;

}
li {
  list-style: none;
}
header nav{
  display: inline;
  margin-right: 750px;

}
header a{
  text-transform: uppercase;
  color: black;
  text-decoration: none;

}

header figure{
display: block;
overflow: overlay;
float: right;
margin-top: -58px;
}
header li{
  margin-right: 30px;
  display: inline-block;
}
header .log1{
  width: 70px;
}

section.bg{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  margin-top: 98px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
 .text-uppercase h2{
  font-size: 23px;
  margin-top:53px;
  margin-bottom: 10px;
  color: white;
}
.text-uppercase h1{
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}
.text-uppercase p{
  font-size: 17px;
  color:white;
}
.text-uppercase button{
  background-color: #2ecc71;
  border-radius: 2%;
  border:none;
  width: 148px;
  height:48px;
  margin-top:85px;
  text-align: center;
  ;
}
section.serv{
  background-color:#f17c72;
  height: 646px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
 
}
.one h2{
  font-size: 38px;
  color:white;
  text-transform: uppercase;
  font-family: sans-serif;
}
.one h4{
  color:white;
  font-size: 17px;
  font-family: sans-serif;
  margin-bottom: 70px;
  width: 60%;
  margin-left: 247px;
}
.letters{
  display: inline-block;
  width:33%;
  color:white;
  margin-top: 60px;
  margin-left: -28px;
  margin-right:-26px;

}
.letters img{
width: 47%;

}
.letters h5{
font-family: sans-serif;
font-size: 14px;
margin-bottom: 0;
text-transform: uppercase;
}
.letters h6{
margin-top: 0;
margin-bottom: 0;
font-family: sans-serif;
}
.work h2{
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 43px;
  margin-top: 61px;
  margin-bottom: 52px;
}
.work h4{
  text-align: center;
  color: #474747;
  font-size: 19px;
  margin-bottom: 59px;
}
.big{
  width: 71%;
  padding-left: 197px;
}
/*.container:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}*/
  
.container p{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 55px;
}
.container img{
  width: 25%;
  margin-left: 92px;
  margin-bottom: 28px;
  margin-right: -227px;
}

footer{
text-align: center;
color:white;
background-color: #373b47;
height: 71px;
}
footer p{
  font-size: 27px;
  padding-top: 33px;
}
body{
  display: block;
  margin: 0;
}